<launch>

    <!-- Author: YueLin -->

    <!-- Threads number -->
    <arg name="num_threads" default="2" />

    <!-- Robot settings -->
    <arg name="robot/size" default="0.25" />
    <arg name="robot/name" default="tracker" />
    <arg name="robot/max_vel_z" default="0.1" />
    <arg name="robot/max_acc_z" default="0.1" />
    <arg name="robot/max_vel_xy" default="2.0" />
    <arg name="robot/max_acc_xy" default="20.0" />
    <arg name="robot/max_vel_yaw" default="1.5" />
    <arg name="robot/max_acc_yaw" default="15.0" />

    <!-- Map settings -->
    <arg name="map/size" default="40" />
    <arg name="map/name" default="world" />
    <arg name="map/height" default="1.5" />
    <arg name="map/resolution" default="0.05" />

    <!-- Hyperparameters -->
    <arg name="m" default="2" />
    <arg name="k" default="8" />
    <arg name="D" default="3.36" />
    <arg name="tau" default="0.5" />
    <arg name="beta" default="42.5" />
    <arg name="alpha" default="69.4" />
    <arg name="gamma" default="100000" />
    <arg name="lambda/p" default="1e5" />
    <arg name="lambda/o" default="1e0" />
    <arg name="lambda/d" default="1e4" />
    <arg name="lambda/a" default="1e4" />
    <arg name="delta_theta" default="1.0" />

    <!-- Topic -->
    <arg name="topic/odom" default="/tracker/odom" />
    <arg name="topic/lidar" default="/tracker/lidar" />
    <arg name="topic/command" default="/tracker/cmd" />
    
    <!-- Target trajectory prediction -->
    <include file="$(find tracker)/launch/prediction.launch" >
        <arg name="m" value="$(arg m)" />
        <arg name="tau" value="$(arg tau)" />
    </include>

    <!-- Eva-Tracker algorithm -->
    <node name="eva_tracker" pkg="tracker" type="tracking" output="screen" >
    
        <remap from="/tracker/odom" to="$(arg topic/odom)" />
        <remap from="/tracker/lidar" to="$(arg topic/lidar)" />
        <remap from="/tracker/cmd" to="$(arg topic/command)" />

        <param name="m" value="$(arg m)" type="int" />
        <param name="k" value="$(arg k)" type="int" />
        <param name="D" value="$(arg D)" type="double" />
        <param name="tau" value="$(arg tau)" type="double" />
        <param name="beta" value="$(arg beta)" type="double" />
        <param name="alpha" value="$(arg alpha)" type="double" />
        <param name="gamma" value="$(arg gamma)" type="double" />
        <param name="lambda_p" value="$(arg lambda/p)" type="double" />
        <param name="lambda_o" value="$(arg lambda/o)" type="double" />
        <param name="lambda_d" value="$(arg lambda/d)" type="double" />
        <param name="lambda_a" value="$(arg lambda/a)" type="double" />
        <param name="delta_theta" value="$(arg delta_theta)" type="double" />

        <param name="map/frame" value="$(arg map/name)" type="string" />
        <param name="map/width" value="$(arg map/size)" type="double" />
        <param name="map/length" value="$(arg map/size)" type="double" />
        <param name="map/height" value="$(arg map/height)" type="double" />
        <param name="map/resolution" value="$(arg map/resolution)" type="double" />

        <param name="tracker/size" value="$(arg robot/size)" type="double" />
        <param name="tracker/frame" value="$(arg robot/name)" type="string" />
        <param name="tracker/max_vel_z" value="$(arg robot/max_vel_z)" type="double" />
        <param name="tracker/max_acc_z" value="$(arg robot/max_acc_z)" type="double" />
        <param name="tracker/max_vel_xy" value="$(arg robot/max_vel_xy)" type="double" />
        <param name="tracker/max_acc_xy" value="$(arg robot/max_acc_xy)" type="double" />
        <param name="tracker/max_vel_yaw" value="$(arg robot/max_vel_yaw)" type="double" />
        <param name="tracker/max_acc_yaw" value="$(arg robot/max_acc_yaw)" type="double" />

    </node>

</launch>